<!-- Banner -->
<section id="banner">
	<h2><strong>{{ site.title }}</strong> is a free responsive site template</h2>
	<p>Brought to you by Templated</p>
	<ul class="actions">
		<li><a href="#" class="button special">Get started</a></li>
	</ul>
</section>