<!-- Two -->
<section id="two" class="wrapper style2 special">
	<div class="inner narrow">
		<header>
			<h2>Get in touch</h2>
		</header>
		<form class="grid-form" method="post" action="#">
			<div class="form-control narrow">
				<label for="name">Name</label>
				<input name="name" id="name" type="text">
			</div>
			<div class="form-control narrow">
				<label for="email">Email</label>
				<input name="email" id="email" type="email">
			</div>
			<div class="form-control">
				<label for="message">Message</label>
				<textarea name="message" id="message" rows="4"></textarea>
			</div>
			<ul class="actions">
				<li><input value="Send Message" type="submit"></li>
			</ul>
		</form>
	</div>
</section>
