<div class="features">
	{% for post in site.posts %}
		<div class="feature">
			<i class="fa {{ post.icon }}"></i>
			<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
			<p>{{ post.short_description }}</p>
		</div>
	{% endfor %}			
</div>

						