{% include contact.html %}
<!-- Footer -->
<footer id="footer">
	<div class="copyright">
		&copy; Untitled. Design: <a href="http://templated.co/">TEMPLATED</a>. Jekyll Template: <a href="http://saiashirwad.com">Sai Ashirwad Informatia</a>
	</div>
</footer>