{% include banner.html %}
<!-- One -->
<section id="one" class="wrapper special">
	<div class="inner">
		<header class="major">
			<h2>Lorem ipsum feugiat tempus</h2>
		</header>
		{% include feature.html %}
	</div>
</section>
