---
layout: default
---

<section id="three" class="wrapper">
	<div class="inner">

		<h2 id="content">{{ page.title }}</h2>
		{% if page.short_description %}
			<p>{{ page.short_description }}</p>
		{% endif %}
		{{ content }}
	</div>
</section>
